.button-row {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons button {
    font-size: 50px;
    padding: 16px 32px;
    transition-duration: 0.4s;
}

#breathe-button {
    background-color: hsl(193, 72%, 87%);
}

#pause-button{
    background-color: hsl(9, 100%, 73%);
}

#resume-button{
    background-color: hsl(108, 71%, 70%);
}

.buttons button:hover{
    border: 2px solid #9bcffa;
}

.messages {
    margin-top: 20px;
    text-align: center;
    font-family:'Trebuchet MS';
    font-size: 20px;
}

footer {
    clear:both;
    padding: 30px;
}